<!doctype html>
<html>
<link rel="stylesheet" href="{{ root_path }}/static/style.css">
<head><meta charset="utf-8"><title>Affiliations - {{ app_name }}</title></head>
<body>
<h1>Affiliations</h1>
<p><a href="{{ root_path }}/admin">Back to admin</a> | <a href="{{ root_path }}/admin/affiliation/new">+ Add affiliation</a></p>

<table border="1" cellpadding="6" cellspacing="0">
    <tr>
        <th>Short Name</th><th>Department</th><th>Institution</th><th>Street</th>
        <th>Postal Code</th><th>City</th><th>Country</th><th>Modify</th>
    </tr>
    {% for a in affiliations %}
    <tr>
        <td>{{ a.short_name }}</td>
        <td>{{ a.department }}</td>
        <td>{{ a.institution }}</td>
        <td>{{ a.street }}</td>
        <td>{{ a.postal_code }}</td>
        <td>{{ a.city }}</td>
        <td>{{ a.country }}</td>
        <td>
            {# Textual link replaced by the blue [Edit] button below.
            <a href="{{ root_path }}/admin/affiliation/edit/{{ a.id }}">edit</a>
            #}
            <div class="actions">
                <a class="button" href="{{ root_path }}/admin/affiliation/edit/{{ a.id }}">Edit</a>
                <form method="post" action="{{ root_path }}/admin/affiliation/delete/{{ a.id }}" style="display:inline">
                    <button class="danger" type="submit" onclick="return confirm('Delete this affiliation')">
                        Delete
                    </button>
                </form>
            </div>
        </td>
    </tr>
    {% endfor %}
</table>

</body>
</html>